*.vhd~
/DLLRF_top/*
!/DLLRF_top/DLLRF_top.xise
/perseus6010/edk/*
!/perseus6010/edk/data
!/perseus6010/edk/etc
perseus6010/edk/etc/perseus6010_mo1000_mi125_bsdk.gui
!/perseus6010/edk/pcores
!/perseus6010/edk/ucf
!/perseus6010/edk/perseus6010_mo1000_mi125_bsdk.mhs
!/perseus6010/edk/perseus6010_mo1000_mi125_bsdk.xmp
!/perseus6010/edk/perseus6010_mo1000_mi125_bsdk_top.v

