INST *RawDataOverXauiA_l/xaui_v10_2_block_l/gtx_wrapper_i/gtx0_gtx_wrapper_i/gtxe1_i LOC=GTXE1_X0Y16;
INST *RawDataOverXauiA_l/xaui_v10_2_block_l/gtx_wrapper_i/gtx1_gtx_wrapper_i/gtxe1_i LOC=GTXE1_X0Y17;
INST *RawDataOverXauiA_l/xaui_v10_2_block_l/gtx_wrapper_i/gtx2_gtx_wrapper_i/gtxe1_i LOC=GTXE1_X0Y18;
INST *RawDataOverXauiA_l/xaui_v10_2_block_l/gtx_wrapper_i/gtx3_gtx_wrapper_i/gtxe1_i LOC=GTXE1_X0Y19;

INST *RawDataOverXauiB_l/xaui_v10_2_block_l/gtx_wrapper_i/gtx2_gtx_wrapper_i/gtxe1_i LOC=GTXE1_X0Y20;
INST *RawDataOverXauiB_l/xaui_v10_2_block_l/gtx_wrapper_i/gtx3_gtx_wrapper_i/gtxe1_i LOC=GTXE1_X0Y21;
INST *RawDataOverXauiB_l/xaui_v10_2_block_l/gtx_wrapper_i/gtx1_gtx_wrapper_i/gtxe1_i LOC=GTXE1_X0Y22;
INST *RawDataOverXauiB_l/xaui_v10_2_block_l/gtx_wrapper_i/gtx0_gtx_wrapper_i/gtxe1_i LOC=GTXE1_X0Y23;