
# INST "*axi_mi125_top/MI125_Wrapper_INST/DDR_8TO1_32CHAN_RX_INST00/RX_IDELAYCTRL" LOC = "IDELAYCTRL_X0Y4";

INST "*axi_mi125_top/MI125_Wrapper_INST/DDR_8TO1_32CHAN_RX_INST00/RX_IDELAYCTRL"             IODELAY_GROUP = MI125_TOP_IODELAY_GRP;
INST "*axi_mi125_top/MI125_Wrapper_INST/DDR_8TO1_32CHAN_RX_INST00/pins[*].IODELAY_RX_DATA"   IODELAY_GROUP = MI125_TOP_IODELAY_GRP;

INST "*axi_mi125_top/MI125_Wrapper_INST/DDR_8TO1_32CHAN_RX_INST00/pins[24].IODELAY_RX_DATA"  IODELAY_GROUP = MI125_BOTTOM_IODELAY_GRP;
INST "*axi_mi125_top/MI125_Wrapper_INST/DDR_8TO1_32CHAN_RX_INST00/pins[26].IODELAY_RX_DATA"  IODELAY_GROUP = MI125_BOTTOM_IODELAY_GRP;

INST "*axi_mi125_top/U_MMCM_V6_Inst/mmcm_adv_inst" LOC="MMCM_ADV_X0Y9";